*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.blog
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px auto;
}
.blog .blog-1
{  
   padding: 15px;
   width: 40%;
}
#blog_item div
{
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
#blog_item
{
   display: grid;
   grid-template-columns:repeat(5,1fr) ;
}
#blog_item img
{
   width: 100%;
}
#blog_item div button
{
   margin: 5px;
   padding: 5px;
}



